/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--brand-green);
  color: white;
  padding: 10px 15px;
}

/* NAV */
nav a {
  color: white;
  margin-right: 10px;
  font-size: 14px;
}

/* FOOTER */
footer {
  background: #222;
  color: white;
  padding: 25px 15px;
  margin-top: 30px;
}

/* FOOTER STRUCTURE */
.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  text-align: center;
}

.footer-bottom {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  border-top: 1px solid #555;
  padding-top: 5px;
}

.browse-all-btn {
    display: inline-block;
    background-color: var(--brand-green);
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 24px;
    border-radius: 8px;
    text-align: center;
    transition: 0.3s;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 0;
}

.browse-all-btn:hover {
    background-color: #0c7c45;
    transform: scale(1.05);
    cursor: pointer;
}

.browse-all-btn:active {
    transform: scale(0.98);
}


